---
---

@import "{{ site.theme }}";

body { background-color: #edfff6; }
a { color: #187; text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { color: #187; text-decoration: underline; }

